<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="images/profil.png" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Name: </span> <span>Adrian Adiaconitei</span></p>
                                        <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                                        <p><span class="title-s">Email: </span> <span>contact@example.com</span></p>
                                        <p><span class="title-s">Phone: </span> <span>(617) 557-0089</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        About me
                                    </h5>
                                </div>
                                <p class="lead">
                                    Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu
                                    erat, accumsan id
                                    imperdiet et, porttitor
                                    at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla
                                    porttitor accumsan tincidunt.
                                </p>
                                <p class="lead">
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor
                                    eget felis
                                    porttitor volutpat. Vestibulum
                                    ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
                                </p>
                                <p class="lead">
                                    Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in,
                                    elementum id enim.
                                    Nulla porttitor accumsan
                                    tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                </p>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="skill-mf">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        My Skills
                                    </h5>
                                </div>
                                <ul id="skills" class="skills-bar-container">

                                    <li>
                                        <div class="progressbar-title">
                                            <h3>HTML5</h3>
                                            <span class="percent" id="html-pourcent"></span>
                                        </div>
                                        <div id="html" class="bar-container" data-percent="75%">
                                            <span class="progressbar progressred"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progressbar-title">
                                            <h3>CSS / SASS</h3>
                                            <span class="percent" id="css-pourcent"></span>
                                        </div>
                                        <div id="css" class="bar-container" data-percent="95%">
                                            <span class="progressbar progressblue"></span>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="progressbar-title">
                                            <h3>JavaScript / jQuery</h3>
                                            <span class="percent" id="javascript-pourcent"></span>
                                        </div>
                                        <div id="javascript" class="bar-container" data-percent="100%">
                                            <span class="progressbar progresspurple"></span>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="progressbar-title">
                                            <h3>PHP</h3>
                                            <span class="percent" id="php-pourcent"></span>
                                        </div>
                                        <div id="php" class="bar-container" data-percent="90%">
                                            <span class="progressbar progressorange"></span>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="progressbar-title">
                                            <h3>AngularJS</h3>
                                            <span class="percent" id="angular-pourcent"></span>
                                        </div>
                                        <div id="angular" class="bar-container" data-percent="60%">
                                            <span class="progressbar progressangular"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progressbar-title">
                                            <h3>React</h3>
                                            <span class="percent" id="react-pourcent"></span>
                                        </div>
                                        <div id="css" class="bar-container" data-percent="85%">
                                            <span class="progressbar progressreact"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progressbar-title">
                                            <h3>Vue</h3>
                                            <span class="percent" id="vue-pourcent"></span>
                                        </div>
                                        <div id="css" class="bar-container" data-percent="65%">
                                            <span class="progressbar progressvue"></span>
                                        </div>
                                    </li>
                                </ul>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->